<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Americas</title>
  </head>
  <body>
    <nav><a href="/">HOME</a></nav>

    <div class="page-banner">
      <h1>America's News Sources</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi beatae,
        obcaecati suscipit accusamus quod illo! Reiciendis fugit nesciunt nulla
        iste inventore quasi amet officia quia? Ad saepe ea animi odio.
      </p>
    </div>

    <div class="button-container">
      <form>
        <button type="submit" formaction="/cnn">CNN</button>
        <button type="submit" formaction="/cnbc">CNBC</button>
        <button type="submit" formaction="/globeMail">
          The Globe and Mail
        </button>
      </form>
    </div>
  </body>
</html>
