<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Asia</title>
  </head>
  <body>
    <header>
      <nav><a href="/">HOME</a></nav>
      <div class="logo-header">
        <img src="/images/logo.png" />
      </div>
      <div class="page-banner">
        <h1>Asia's Energy News</h1>
        <p>
          Latest news from Central, East, South, Southeast and Western Asia, ranging from Kazahstan to Indonesia.
        </p>
      <div>
    </header>

    <div class="button-container">
      <h2>Select a source:</h2>
      <form>
        <button type="submit" formaction="/abpNews">ABP News</button>
        <button type="submit" formaction="/zeeNews">Zee News</button>
        <button type="submit" formaction="/economicTimes">
          The Economic Times
        </button>
      </form>
    </div>
    <footer>
      <div class="footer-container">
      <p>Copyright &copy; 2022</p>
      </div>
  </footer>
  </body>
</html>
