<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Europe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav><a href="/">HOME</a></nav>
      <div class="logo-header">
        <img src="/images/logo.png" />
      </div>
      <div class="page-banner">
        <h1>Europe's Energy News</h1>
        <p>
          Latest news from Eastern, Southern, Western and Northen Europe ranging
          from Portugal to Finland.
        </p>
      </div>
    </header>

    <div class="button-container">
      <h2>Select a source:</h2>
      <form class="sourceOption">
        <button type="submit" formaction="/guardian">The Guardian</button>
        <button type="submit" formaction="/times">The Times</button>
        <button type="submit" formaction="/telegraph">The Telegraph</button>
        <button type="submit" formaction="/skyNews">Sky News</button>
        <button type="submit" formaction="/reuters">Reuters</button>
        <button type="submit" formaction="/economist">The Economist</button>
      </form>
    </div>
    <footer>
      <div class="footer-container">
        <p>Copyright &copy; 2022</p>
      </div>
    </footer>
  </body>
</html>
