<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Main Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>App Name</h1>
      <!-- Search Bar in Nav Bar -->
      <!-- Or buttons to search by region/source -->
      <form>
        <button type="submit" formaction="/americas">Americas</button>
        <button type="submit" formaction="/asia">Asia</button>
        <button type="submit" formaction="/europe">Europe</button>
      </form>
    </header>

    <h2>ALL ARTICLES HERE</h2>
    <div class="news-container"></div>
    <!-- Looping through all articles to display them -->
    <%# for( var i = 0; i < articles.length; i++) { %>
    <h2><%# articles.title %></h2>
    <%# } %>
  </body>
</html>
