* {
  margin: 0px;
}

/* All Pages */
button {
  width: 160px;
  height: 70px;
  background-color: #bae8e8;
  margin: 10px;
  border-color: #2c698d;
  border-radius: 15%;
  box-shadow: 5px 10px #2c698d;
  font-size: 15px;
}

button:hover {
  background-color: #bae8e8;
  border-color: #2c698d;
  box-shadow: 5px 10px #bae8e8;
}

.button-container {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 28px;
}

h3 {
  margin: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}

.page-banner p {
  text-align: center;
}

nav {
  height: 30px;
  padding: 20px;
  background-color: #2c698d;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #272643;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #2c698d;
  color: #ffffff;
  text-align: center;
}

/* Home Page */
.logo-header {
  text-align: center;
  margin: 10px;
}

#home-buttons {
  margin-bottom: 50px;
}

/* About Section */
.about {
  margin: 20px;
  padding: 30px;
  background-color: #e3f6f5;
  text-align: center;
  border-radius: 1%;
}

.about-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 6rem;
}

.about-description {
  margin: 50px;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.about-container p {
  font-size: 20px;
}

/* Member Sign-Up */
.sign-up {
  margin: 20px;
  margin-bottom: 80px;
  padding: 30px;
  background-color: #e3f6f5;
  text-align: center;
  border-radius: 1%;
}

.sign-up-container {
  background-color: #bae8e8;
  padding: 50px;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 10%;
}

.sign-up h2 {
  margin: 10px;
}

.sign-up p,
.sign-up-form {
  font-size: 18px;
}

.sign-up-form input {
  margin: 10px;
}

.submit {
  margin-top: 30px;
  background-color: #bae8e8;
  padding: 10px;
  border-color: #2c698d;
  border-radius: 15%;
  box-shadow: 4px 6px #bae8e8;
}

.submit:hover {
  background-color: #bae8e8;
  border-color: #2c698d;
  box-shadow: 5px 10px #2c698d;
}

/* Region Pages */
.page-banner p {
  font-size: 18px;
}

.button-container h2 {
  margin-top: 50px;
}

.button-container {
  margin-bottom: 100px;
}

/* Sources + News Page */
.footer-space {
  height: 80px;
}

/* News Pages */
.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  margin: 10px;
}

.news-card {
  margin: 10px;
  text-align: center;
  background-color: #e3f6f5;
  padding: 20px;
}

.news-card img {
  max-width: 100%;
  height: auto;
}

.news-source {
  padding: 10px;
  font-style: italic;
}

.news-region {
  font-weight: bold;
}

/* Media Queries */

/* Home Page */
@media only screen and (max-width: 768px) {
  .about-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
  }

  .about-description {
    margin-top: 30px;
  }

  .sign-up-container {
    background-color: #bae8e8;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10%;
  }
}

@media only screen and (max-width: 425px) {
  .about {
    padding: 10px;
    background-color: #e3f6f5;
    text-align: center;
  }

  .about-description {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .about-container {
    margin: 0px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
  }

  .sign-up-container {
    background-color: #bae8e8;
    padding: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10%;
  }
}
